<p>管理画面</p>
<%= current_user.admin%>

<p class="border-dashed border-gray-700 p-5 border-4">不適切なユーザー</p>
<% @unsuitable_user.each do |user| %>
<div class=" py-5 px-2 shadow-md">
    <p>メールアドレス：<%= user.email %></p>
    <p><%= user.description %></p>
    <%= link_to "編集", edit_user_registration_path(user)%>
    <%= button_to "削除", destroy_by_admin_user_path(user), method: :delete %>
</div>
<% end%>

<p class="border-dashed border-gray-700 p-5 border-4">ユーザー一覧</p>

<% @suitable_user.each do |user| %>
<div class=" py-5 px-2 shadow-md">
    <p>メールアドレス：<%= user.email %></p>
    <p><%= user.description %></p>
    <%= link_to "編集", edit_user_registration_path(user)%>
    <%= button_to "削除", destroy_by_admin_user_path(user), method: :delete %>
</div>
<% end%>