<!DOCTYPE html>
<html>

<head>
  <title>Scid</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="grid grid-cols-12 bg-amber-100">
  <%= flash[:notice] %>
  <%= flash[:notice] %>
  <%= render partial: 'layouts/sidebar'%>
  <div class="col-span-9 text-center m-10">
    <% if user_signed_in? %>
    <%= current_user.email %>
    <% end %>
    <%= yield %>
  </div>
</body>

</html>